<app-nav-home></app-nav-home>
<br>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 card signup-form ">
                
                <h2 class="text-center">Sign Up</h2>
                <br><br>
                <form (ngSubmit)="onSignUp()">
                    <div class="form-group">
                        <input type="text" name="userName" [(ngModel)]="userName" id="" class="form-control mx-auto" placeholder=" Username" required>
                        <small *ngIf="usernameNotAvailable" style="color: red;">Username Not Please Try Again</small>
                        <br>
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)]="password" id="" class="form-control" placeholder=" Password" required>
                        <br>
                    </div>

                    <div class="form-group">
                        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" id="" class="form-control" placeholder=" Confirm Password" required>
                        <small *ngIf="validPassword" style="color: red;">Please Check The Password</small>
                        <br>
                    </div>

                    <div class="form-group">
                        <input type="email" name="eMail" [(ngModel)]="eMail" id="" class="form-control" placeholder="E-Mail" required>
                        <br>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>

                    <hr>
                    <a routerLink="/login">Already Registered ? Click Here</a>
                    <br><br>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>