<app-nav-home></app-nav-home>
<br>
<br>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 card login-form ">
                <h2 class="text-center">Login</h2>
                <br><br>
                <form action="">
                    <div class="form-group">
                        <input type="text" name="" id="" class="form-control mx-auto" placeholder="Enter the Username">
                        <br>
                    </div>

                    <div class="form-group">
                        <input type="password" name="" id="" class="form-control" placeholder="Enter the Password">
                        <br>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>

                    <hr>
                    <a href="">New User ? Click Here</a>
                </form>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</section>