<nav class="navbar navbar-expand-lg navHome">
    <div class="container">
        <a class="navbar-brand" href="#">Pixogram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active margin-upload">
                    <a class="btn btn-sm btn-outline-secondary" routerLink="/upload">Upload Media </a>
                </li>
                <li class="nav-item active margin-mymedia">
                    <a class="btn btn-sm btn-outline-secondary" routerLink="/mymedia">My Media</a>
                </li>
                <li class="nav-item active margin-followers">
                    <a class="btn btn-sm btn-outline-secondary " routerLink="/followers" >Followers/Following</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                 
                <!-- <a routerLink="/account" class="btn btn-sm btn-outline-secondary account">Account</a> -->
                <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" routerLink="/account">My Profile</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#"  (click)="onLogout()">Logout</a>
                        </div>
                      </div>
                <!-- <a href="#" (click)="onLogout()">Logout</a> -->
            </form>
        </div>
    </div>
</nav>